
<nav class="navbar navbar-expand-md bg-dark">
  <ul class="navbar-nav w-100">
    <li>
      <a href="#"><img src="/images/smkn_fiktif.png" width="50" alt=""></a>
    </li>
    <li class="nav-item mx-2">
      <a href="/dashboard" class="nav-link btn btn-info">Dashboard</a>
    </li>
    <li class="nav-item mx-2">
      <a href="/data-siswa" class="nav-link btn btn-info">Data Siswa/Siswi</a>
    </li>
    <li class="nav-item mx-2">
      <a href="/data-guru" class="nav-link btn btn-info">Data Guru</a>
    </li>
    <li class="nav-item mx-2">
      <a href="#" class="nav-link btn btn-info">Nilai</a>
    </li>
    <li class="nav-item ml-auto">
      <button type="button" class="btn btn-primary fas fa-address-card py-3" data-toggle="modal" data-target="#myModal">
        <%= user.toUpperCase() %> 
      </button>

      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Akun</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                <ul class="list-group">
                    <label for="">Nama User</label>
                    <li class="list-group-item"><%= user %></li>
    
                    <label for="">Email</label>
                    <li class="list-group-item"><%= email %></li> 
    
                    <label for="">No. Telp</label>
                    <li class="list-group-item"><%= nohp %> </li>
                </ul>  
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
      
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>

  
  <!-- The Modal -->
  
  