<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMK ##?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="/bootstrap-4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-4.5.3/css/bootstrap-theme.css">

    <script src="/bootstrap-4.5.3/js/jquery-3.4.1.slim.min.js"></script>
    
</head>
