<html>
    <%- include('./components/style.ejs')  %> 
    <body>
        <%- include('./components/navbar.ejs') %> 
        <div class="container">
            <h1>Welcome to Dashboard</h1>
            <p>this is dashboard.</p>
        </div>

        <%- include('./components/footer.ejs')  %> 
    </body>
</html>