body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/dark.jpg');
}

/* a {
  color: #00B7FF;
} */

.container{
  margin-top: 80px;
  background-color: whitesmoke ;
  padding: 40px;
  border-style: groove;
  border-color: dimgrey;
  
}

.form-group{
  font-size: 16px;
}

.footer{
  padding: 13px;
  color: #00B7FF;
  text-align: center;
}

.btnPadding{
  padding-left: 20px;
  padding-right: 20px;

}


.tableTitle{
  border: black;
  border-radius: 9px;
  border-style: solid;
  color: whitesmoke;
  background-color: black;
}

